[submodule "contrib/rtaudio"]
	path = contrib/rtaudio
	url = https://github.com/thestk/rtaudio
[submodule "contrib/grpc"]
	path = contrib/grpc
	url = https://github.com/grpc/grpc
[submodule "contrib/AudioFile"]
	path = contrib/AudioFile
	url = https://github.com/adamstark/AudioFile
